@model Patient?

@{
    ViewBag.Title = "Detalhes do Paciente";
    Layout = "_Layout";
}

@if (Model is not null)
{
    <h1>@Model.FullName</h1>

    <div class="form-group flex-column justify-content-end">
        <a asp-controller="Patient" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-controller="Patient" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Excluir</a>
    </div>
    <hr/>

    <table class="table">
        <tr>
            <th>CPF</th>
            <td>@Model.CPF</td>
        </tr>
        <tr>
            <th>Data de Nascimento</th>
            <td>@Model.BirthDate.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Telefone</th>
            <td>@Model.Phone</td>
        </tr>
    </table>

    <hr/>

    <h2>Consultas</h2>
    
    @if (Model.Appointments.Count > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>Link</th>
                <th>Data</th>
                <th>Médico</th>
                <th>Descrição</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var appointment in Model.Appointments)
            {
                <tr>
                    <td>
                        @* TODO - Mudar para símbolo de abrir *@
                        <a asp-controller="Appointment" asp-action="Details" asp-route-id="@appointment.Id">@appointment.Id</a>
                    </td>
                    <td>@appointment.Date.ToString("dd/MM/yyyy")</td>
                    <td>@appointment.Doctor.FullName</td>
                    <td>@appointment.Description</td>
                    <td>@appointment.Status</td>
                    @* TODO - Melhorar exibição do Status *@
                </tr>
            }
            </tbody>
        </table>
        
        @* TODO - Implementar paginação *@
    }
    else
    {
        <p>Não há consultas cadastradas para este paciente.</p>
    }
    <hr/>
}
else
{
    <div class="text-center">
        <h3>Paciente não encontrado</h3>
    </div>
}

<div class="form-group">
    <a asp-controller="Patient" asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>