@model List<Patient>

@{
    ViewData["Title"] = "Paciente";
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
}

<div class="container my-4">
    <div class="d-flex justify-content-between mb-3">
        <h1>Pacientes</h1>
        <a class="btn btn-primary btn-sm" asp-controller="Patient" asp-action="Create">Novo Paciente</a>
    </div>
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Idade</th>
                    <th>Data de Nascimento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model)
                {
                    <tr>
                        <td>@patient.Id</td>
                        <td>@patient.FullName</td>
                        <td>@patient.CPF</td>
                        <td>@patient.Phone</td>
                        <td>@patient.Email</td>
                        <td>@patient.Age</td>
                        <td>@patient.BirthDate.ToString("dd/MM/yyyy")</td>
                        <td>
<a class="btn btn-sm btn-secondary" asp-controller="Patient" asp-action="Details"
                        asp-route-id="@patient.Id">Detalhes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @await Html.PartialAsync("_Pagination", (currentPage, totalPages, "Index"))
}
else
{
    <div class="text-center">
        <h3>Nenhum paciente encontrado</h3>
    </div>
}

<style>
    a.btn.btn-primary.btn-sm {
        font-size: 1.0rem;
        padding: 0.7rem 0.5rem;
    }
</style>