@model Patient

@{
    string action = ViewBag.Action ?? "Create";
    string treatment = action == "Create" ? "Cadastrar" : "Editar";
}

<div class="flex justify-content-center align-content-center">
    
    <h2>@treatment Paciente</h2>
    
    @using (Html.BeginForm(action, "Patient", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <hr/>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @data_val = "true" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CPF, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.CPF, new { @class = "form-control cpf", @placeholder = "CPF", @data_mask = "999.999.999-99", @data_val = "true", @data_val_validationcpf = "CPF inválido" })
                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.BirthDate, new { @class = "form-control datepicker", @data_val = "true", @data_val_validationbirthdate = "Data de nascimento inválida" })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control phone" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-success">@treatment</button>
            </div>
        </div>
    }
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

@* TODO - Máscara CPF, e-mail e telefone *@