@model Doctor?

@{
    ViewData["Title"] = "Detalhes do Médico";
    Layout = "_Layout";
}

@if (Model is not null)
{
    <h1>@Model.FullName</h1>

    <div class="form-group flex-column justify-content-end">
        <a asp-controller="Doctor" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-controller="Doctor" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Excluir</a>
    </div>
    <hr/>

    <div class="card mb-3">
        <div class="card-header bg-primary text-light">
            <h5 class="mb-0">Detalhes do Médico</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <strong>CRM:</strong>
                </div>
                <div class="col-sm-8">
                    @Model.CRM
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Data de Nascimento:</strong>
                </div>
                <div class="col-sm-8">
                    @Model.BirthDate.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>E-mail:</strong>
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Telefone:</strong>
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Especialidades:</strong>
                </div>
                <div class="col-sm-8">
                    <ul class="list-group">
                        @foreach (var specialty in Model.Specialities)
                        {
                            <li class="list-group-item">@specialty.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="card mb-3">
        <div class="card-header bg-primary text-light">
            <h5 class="mb-0">Consultas</h5>
        </div>
        <div class="card-body">
            @if (Model.Appointments.Count > 0)
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Link</th>
                        <th>Data</th>
                        <th>Paciente</th>
                        <th>Descrição</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var appointment in Model.Appointments)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Appointment" asp-action="Details" asp-route-id="@appointment.Id">
                                    <i
                                        class="fa fa-eye" aria-hidden="true">
                                    </i>
                                </a>
                            </td>
                            <td>@appointment.Date.ToString("dd/MM/yyyy")</td>
                            <td>@appointment.Patient.FullName</td>
                            <td>@appointment.Description</td>
                            <td> @Html.DisplayFor(model => appointment.Status)</td>
                        </tr>
                    }
                    </tbody>
                </table>

                @* TODO - Implementar paginação *@
            }
            else
            {
                <p>Não há consultas cadastradas para este paciente.</p>
            }
        </div>
    </div>
    <hr/>
}
else
{
    <div class="text-center">
        <h3>Paciente não encontrado</h3>
    </div>
}

<div class="form-group mt-4">
    <a asp-controller="Patient" asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>