@model Healthy.Domain.Entities.Appointment?

@{
    ViewBag.Title = "Detalhes da Consulta";
    Layout = "_Layout";
}

@if (Model is not null)
{
    <h3>Consulta #@Model.Id</h3>

    <div class="form-group flex-column justify-content-end">
        <a asp-controller="Appointment" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-controller="Appointment" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Excluir</a>
    </div>
    <hr />

    <div class="card mb-3">
        <div class="card-header bg-primary text-light">
            <h5 class="mb-0">Detalhes da consulta</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <strong>Data da consulta:</strong>
                </div>
                <div class="col-sm-8">
                    @Model.Date
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Descrição:</strong>
                </div>
                <div class="col-sm-8">
                    @Model.Description
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Valor:</strong>
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Invoice)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Situação:</strong>
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Status)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>Criado em:</strong>
                </div>
                <div class="col-sm-8">
                    @Model.CreatedAt
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-primary text-light">
                    <h5 class="mb-0">Paciente</h5>
                </div>
                <div class="card-body" style="height: 170px; overflow-y: auto;">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Nome:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Patient.FullName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>CPF:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Patient.CPF
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Data de Nascimento:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Patient.BirthDate
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>E-mail:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Patient.Email
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Telefone:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Patient.Phone
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-primary text-light">
                    <h5 class="mb-0">Médico</h5>
                </div>
                <div class="card-body" style="height: 170px; overflow-y: auto;">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Nome:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Doctor.FullName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>CRM:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Doctor.CRM
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Especialidades:</strong>
                        </div>
                        <div class="col-sm-8">
                            <ul>
                                @foreach (var specialty in Model.Doctor.Specialities)
                                {
                                    <li>@specialty.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>E-mail:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Doctor.Email
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Telefone:</strong>
                        </div>
                        <div class="col-sm-8">
                            @Model.Doctor.Phone
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h3>Consulta não encontrada</h3>
    </div>
}

<div class="form-group mt-4">
    <a asp-controller="Appointment" asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>